body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.colorbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #777;
  margin-right: 5px;
}

.error {
  color : #600;
  font-weight: bold;
}

.success {
  color : #060;
  font-weight: bold;
}